<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Scribble Works">
    <meta name="description" content="Preptime, Quizzes">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Preptime Quizzes</title>
</head>
<body>
    <header>
        <div>
            <nav>
                <img src="./static/img/PREP LOGO1.jpg" height="80px" width="150px">
                <a href="#login">Login</a>
                <a href="#register">Sign up School</a>
            </nav>
        </div>
    </header>
    <main>
        <!--Welcome Screen-->
        <div id="welcome">
            <h1>Welcome To Preptime Quizzes.</h1>
            <p>This Program is an initiative of Scribble Works Publishing House as an Assesment Portal.</p>
        </div>
        <!--Login screen-->
        <div id="login">
            <h1 id="loginhead">Login</h1>
            <form action="./static/php/prep.php">
                <input type="text" id="pwd" placeholder="Username"><br>
                <br>
                <input type="password" id="pwd" placeholder="Password"><br>
                <br>
                <button id="loginbtn">Login</button>
            </form>
        </div>
        <!--sign up screen-->
        <div id="register">
            <h1>Register Your School</h1>
            <form action="./static/php/prep.php">
                <input type="text" placeholder="First Name"><br>
                <br>
                <input type="text" placeholder="Last Name"><br>
                <br>
                <input type="password" placeholder="Password"><br>
                <br>
                <input type="password" placeholder="Retype Password"><br>
                <br>
                <!--payment method for new users-->
                <div class="payment">
                    <button onclick="payment()" class="paybtn">Select payment method</button>
                    <div id="paymentstructures" class="dropdown-content">
                        <a href="visapayment"><img src="./static/img/visa.jpg" height="10px" width="10px"> Visa Card</a><br>
                        <a href="mastercard"><img src="./static/img/mastercard.jpg" height="10px" width="10px"> Mastercard</a><br>
                        <a href="momo"><img src="./static/img/momo.jpg" height="10px" width="10px">MTN Mobile Money</a><br>
                        <a href="vf"><img src="./static/img/vfcash.png" height="10px" width="10px">Vodafone Cash</a><br>
                        <a href="atmmoney"><img src="./static/img/atmmoney.png" height="10px" width="10px">Airteltigo Money</a><br>
                    </div>
                </div>
                <button id="registerbtn">Sign Up School</button>
            </form>

        </div>
    </main>
    <footer>
        <div>
            <h1>About Preptime</h1>
            <p>email: scribbleworks@outlook.com</p>
            <p>Tel: 024 554 5260</p>
            <span id="follow">
                    <h1>Follow Us</h1>
                    <a href="https://www.facebook.com/swphofficial/#"><img src="./static/img/facebook.png" height="30px" width="30px"></a>
                    <a href="https://twitter.com/swphofficial"><img src="./static/img/tweeter.png" height="30px" width="30px"></a>
                    <a href="linkedin.com/swphofficial"><img src="./static/img/linkedin.png" height="30px" width="30px"></a>
            </span>
        </div>
        
    </footer>
</body>
</html>